@import "~styles/variables";

.movie-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;

  &__title {
    margin: 0 0 20px;
  }

  &__title,
  &__plot {
    max-width: 320px;
    overflow-wrap: break-word;
  }

  &__plot {
    margin-bottom: 30px;
  }

  &__rating {
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    background-color: $green-light;
  }

  @media only screen and (max-width: 600px) {
    margin: 20px;
  }
}

.no-data {
  text-align: center;
}
